* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 50%; }
  @media (min-width: 600px) {
    html {
      font-size: 60%; } }
  @media (min-width: 900px) {
    html {
      font-size: 62.5%; } }

body {
  text-align: center; }

.cl-l-header-conteiner {
  background-color: #fff; }

.cl-c-header {
  max-width: 94rem;
  margin: 0 auto;
  border-bottom: 1px solid #E4E4E4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0; }
  @media (min-width: 600px) {
    .cl-c-header {
      flex-direction: row;
      justify-content: space-between; } }

.cl-c-site-logo {
  margin-bottom: 2rem;
  padding: 0 2rem; }
  @media (min-width: 600px) {
    .cl-c-site-logo {
      margin-bottom: 0;
      padding: 0; } }

.cl-c-site-logo__link {
  display: block; }

.cl-c-site-logo__img {
  max-width: 100%;
  display: block;
  height: auto; }

.cl-c-social-icon__list {
  display: flex;
  justify-content: center; }

.cl-c-social-icon__item {
  list-style: none;
  border: 1px solid #A9A9A9;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem; }
  .cl-c-social-icon__item:not(:last-child) {
    margin-right: 1rem; }
  .cl-c-social-icon__item:hover {
    border-color: #F3AE76; }

.cl-c-social-icon__icon {
  color: #A9A9A9;
  font-size: 1.8rem;
  width: 100%;
  height: 100%;
  color: #A9A9A9;
  display: flex;
  justify-content: center;
  align-items: center; }
  .cl-c-social-icon__icon:hover {
    color: #F3AE76; }

.cl-c-social-icon__link {
  text-decoration: none; }

.cl-c-navigation {
  padding: 3rem;
  display: flex;
  justify-content: center; }

.cl-c-navigation__list {
  display: flex;
  max-width: 94rem;
  width: 100%;
  flex-direction: column;
  justify-content: space-around; }
  @media (min-width: 600px) {
    .cl-c-navigation__list {
      flex-direction: row; } }

.cl-c-navigation__item {
  list-style: none;
  margin-bottom: 1rem; }
  @media (min-width: 600px) {
    .cl-c-navigation__item {
      margin-bottom: 0; } }

.cl-c-navigation__link {
  text-decoration: none;
  color: #525252;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 1.3rem; }
  .cl-c-navigation__link:hover {
    color: #F3AE76; }

.cl-c-navigation__link--active {
  color: #F3AE76; }

.cl-l-main-conteiner {
  background-color: #F3AE76; }

.cl-c-caroseul-conteiner {
  max-width: 94rem;
  margin: 0rem auto;
  padding-top: 7rem; }

.cl-c-caroseul-main {
  max-width: 94rem;
  margin: 0 auto;
  position: relative;
  margin-bottom: 2.5rem; }

.cl-c-caroseul-main__photo, .cl-c-caroseul-cards__card-img {
  max-width: 100%;
  display: block;
  height: auto; }

.cl-c-caroseul-main__icon-link {
  color: #E4E4E4;
  cursor: pointer; }

.cl-c-caroseul-main__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3.3rem; }

.cl-c-caroseul-main__icon--left {
  left: 2rem; }
  @media (min-width: 600px) {
    .cl-c-caroseul-main__icon--left {
      left: 5rem; } }

.cl-c-caroseul-main__icon--right {
  right: 2rem; }
  @media (min-width: 600px) {
    .cl-c-caroseul-main__icon--right {
      right: 5rem; } }

.cl-c-caroseul-main__description {
  position: absolute;
  bottom: 4vw;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 70%;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem 1rem;
  background-color: #fff;
  opacity: .8; }

.cl-c-caroseul-main__description-link {
  width: 7.5rem;
  height: 2.6rem;
  padding: .5rem 1.2rem;
  font-size: 1.3rem;
  margin: 1rem 0;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  background-color: #E79E5A;
  text-transform: uppercase;
  color: #fff; }

.cl-c-caroseul-main__description-paragraf {
  font-size: 2.4rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #000; }

.cl-c-caroseul-cards {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  align-items: center; }
  @media (min-width: 600px) {
    .cl-c-caroseul-cards {
      flex-direction: row; } }

.cl-c-caroseul-cards__card {
  max-width: 30rem;
  max-height: 21.3rem;
  margin-bottom: 2rem; }

.cl-c-caroseul-cards__card-description {
  position: relative;
  bottom: 9rem;
  padding-left: 1.8rem;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: start; }

.cl-c-caroseul-cards__card-link {
  width: 5.5rem;
  height: 2.1rem;
  padding: .3rem 1rem;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  background-color: #E79E5A;
  color: #fff;
  margin-bottom: 1rem; }

.cl-c-caroseul-cards__card-paragraf {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  text-align: left; }

.cl-c-blog-conteiner {
  max-width: 94rem;
  margin: 0 auto;
  padding-top: 3rem; }

.cl-c-blog-link {
  width: 26rem;
  height: 4.4rem;
  padding: .5rem 3rem 1rem 3rem;
  font-size: 2.4rem;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  background-color: #000;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 5rem; }

.cl-c-blog-boxes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.cl-c-blog-box {
  max-width: 29.4rem;
  margin-bottom: 2rem; }

.cl-c-blog-box__img {
  max-width: 100%;
  display: block;
  height: auto; }

.cl-c-blog-box__description {
  padding: 2rem;
  height: 16rem;
  max-width: 100%;
  background-color: #fff; }

.cl-c-blog-box__description-link {
  width: 7.6rem;
  height: 2.3rem;
  padding: .5rem 1.4rem;
  font-size: 1.3rem;
  background: #E79E5A;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 1.5rem; }

.cl-c-blog-box__description-person {
  margin-bottom: 1rem; }

.cl-c-blog-box__description-info {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #A9A9A9; }
  .cl-c-blog-box__description-info:not(:last-child) {
    margin-right: 1rem; }

.cl-c-blog-box__description__paragraf {
  font-size: 2.2rem;
  max-width: 26rem;
  height: 6.7rem;
  margin: 0 auto;
  color: #525252;
  font-family: "Open Sans", sans-serif; }

.cl-c-blog-pagination {
  padding: 4rem 0; }

.cl-c-blog-pagination__btn {
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  width: 3rem;
  line-height: 3rem;
  height: 3rem;
  display: inline-block;
  background: #fff;
  color: #525252;
  border: 1px solid #E4E4E4;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }
  @media (min-width: 600px) {
    .cl-c-blog-pagination__btn {
      width: 3.5rem;
      height: 3.5rem;
      line-height: 3.5rem; }
      .cl-c-blog-pagination__btn:not(:last-child) {
        margin-right: .5rem; } }

.cl-c-blog-pagination__btn--active {
  background-color: #000;
  color: #fff;
  border: none; }

.cl-c-blog-pagination__btn--prev {
  font-weight: 600;
  width: 10.4rem; }

.cl-c-blog-pagination__btn--next {
  font-size: 1.4rem;
  font-weight: 600;
  width: 6.9rem; }

.cl-c-instagram-conteiner {
  max-width: 94rem;
  margin: 0 auto;
  padding-bottom: 8rem; }

.cl-c-instagram__posts {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.cl-c-instagram__posts-post {
  flex: 1 0 50%;
  padding: .5rem; }
  @media (min-width: 600px) {
    .cl-c-instagram__posts-post {
      flex: 1 0 25%; } }

.cl-c-instagram-post__img {
  max-width: 100%;
  display: block;
  height: auto; }

.cl-l-footer {
  background-color: #575757;
  padding: 2rem 0; }

.cl-l-footer-container {
  max-width: 94rem;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex-wrap: wrap;
  position: relative; }
  .cl-l-footer-container::after {
    content: "";
    display: block;
    position: absolute;
    width: 25rem;
    height: 1px;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #A9A9A9; }
  @media (min-width: 600px) {
    .cl-l-footer-container {
      padding: 3rem 0;
      flex-direction: row; }
      .cl-l-footer-container::after {
        width: 55rem; } }

.cl-l-footer__about-us {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  @media (min-width: 600px) {
    .cl-l-footer__about-us {
      flex: 1 0 100%;
      padding: 2rem; } }
  @media (min-width: 900px) {
    .cl-l-footer__about-us {
      flex: 1 0 30%; } }

.cl-l-footer__heading {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.4rem;
  margin-bottom: 1.5rem; }

.cl-l-footer__paragraf {
  text-align: start;
  font-size: 1.4rem;
  color: #fff;
  line-height: 2.5rem;
  font-weight: 400;
  font-family: "Open Sans", sans-serif; }

.cl-l-footer__update {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  @media (min-width: 600px) {
    .cl-l-footer__update {
      flex: 1 0 50%;
      padding: 2rem; } }
  @media (min-width: 900px) {
    .cl-l-footer__update {
      flex: 1 0 30%;
      padding: 0;
      margin: 0 3rem; } }

.cl-l-footer__update-email {
  display: flex;
  margin-bottom: 3rem; }

.cl-l-footer__update-input {
  width: 25rem;
  height: 3.5rem;
  background-color: transparent;
  border: 1px solid #fff;
  border-right: none;
  padding: 0 2rem; }
  .cl-l-footer__update-input:focus {
    outline: none; }

::placeholder {
  color: #A9A9A9; }

.cl-l-footer__update-btn {
  width: 5rem;
  height: 3.5rem;
  background-color: transparent;
  border: 1px solid #fff;
  text-transform: uppercase;
  color: #fff; }
  .cl-l-footer__update-btn:focus {
    outline: none; }
  .cl-l-footer__update-btn:hover {
    color: #b3b3b3; }

.cl-l-footer__posts {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  @media (min-width: 600px) {
    .cl-l-footer__posts {
      flex: 1 0 50%;
      padding: 2rem; } }
  @media (min-width: 900px) {
    .cl-l-footer__posts {
      flex: 1 0 30%;
      padding: 0; } }

.cl-l-footer__post {
  display: flex;
  margin-bottom: 2rem; }

.cl-l-footer__post-description {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.cl-l-footer__post-paragraf {
  text-align: start;
  color: #fff;
  font-size: 1.3rem;
  line-height: 2.1rem;
  width: 15rem;
  font-family: "Montserrat", sans-serif; }

.cl-l-footer__post-date {
  font-size: 1rem;
  color: #fff;
  font-family: "Open Sans", sans-serif; }

.cl-l-footer__post-img {
  max-width: 7.3rem;
  max-height: 5.4rem; }

.cl-l-footer__copyright {
  color: #fff;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif; }

.cl-l-footer__copyright-vivify {
  color: #F3AE76;
  text-decoration: none;
  cursor: pointer; }
