
@mixin respond($breakpoint) {
    @if $breakpoint == tablet { 
        @media (min-width: 600px){

             @content 
            
            };
     };
    @if $breakpoint == desk {
        @media (min-width: 900px){

             @content
            
            };    
    }
}

@mixin responsive {
    max-width: 100%;
    display: block;
    height: auto;
}

@mixin flex-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
