
//COLORS
$color-white:      #fff;
$color-black:      #000;
$color-orange:     #F3AE76;
$color-orange-btn: #E79E5A;
$color-gray:       #E4E4E4;
$color-gray-dark:  #A9A9A9;

//FONTS
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
 