.cl-c-blog-conteiner {
    max-width: 94rem;
    margin: 0 auto;
}

.cl-c-blog-link {
    width: 26rem;
    height: 4.4rem;
    padding: .8rem 3rem;
    font-size: 2.4rem;
    display: inline-block;
    font-family: $secondary-font;
    text-decoration: none;
    background-color: $color-black;
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: 5rem;
}

.cl-c-blog-boxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cl-c-blog-box {
    max-width: 29.4rem;
    margin-bottom: 2rem;
}

.cl-c-blog-box__img {
    @include responsive;
}

.cl-c-blog-box__description {
    padding: 2rem;
    height: 16rem;
    max-width: 100%;
    background-color: $color-white;
}

.cl-c-blog-box__description-link {
    width: 7.6rem;
    height: 2.3rem;
    padding: .5rem 1.4rem;
    font-size: 1.3rem;
    background: $color-orange-btn;
    display: inline-block;
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: 1.5rem;
}

.cl-c-blog-box__description-person {
    margin-bottom: 1rem;
}

.cl-c-blog-box__description-info {
    font-size: 1rem;
    font-family: $secondary-font;
    color: $color-gray-dark;

    &:not(:last-child) {
        margin-right: 1rem;
    }
}

.cl-c-blog-box__description__paragraf {
    font-size: 2.2rem;
    max-width: 26rem;
    height: 6.7rem;
    margin: 0 auto;
    color: $color-gray-dark-2;
    font-family: $secondary-font;
}

.cl-c-blog-pagination {
    padding: 4rem 0;

}

.cl-c-blog-pagination__btn {
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    max-width: 3.5rem;
    height: 3.5rem;
    padding: .8rem 1.4rem;
    display: inline-block;
    background: $color-white;
    color: $color-gray-dark-2;
    border: 1px solid $color-gray;
    font-family: $primary-font;
    text-transform: uppercase;

    @include respond(tablet) {
        &:not(:last-child) {
            margin-right: .5rem;
        }
    }
}

.cl-c-blog-pagination__btn--active {
    background-color: $color-black;
    color: $color-white;
    border: none;
}

.cl-c-blog-pagination__btn--prev {
    font-weight: 600;
    max-width: 10.4rem;
    padding: .8rem 1.1rem;
    
}
.cl-c-blog-pagination__btn--next {
    font-size: 1.4rem;
    font-weight: 600;
    max-width: 6.9rem;
    padding: .8rem 1.3rem;
}