
.caroseul-conteiner{
    max-width: 94rem;
    margin: 0rem auto;
    padding-top: 7rem;

}

.caroseul-main {
    max-width:94rem;
    margin: 0 auto;
    position: relative;
    margin-bottom: 2.5rem;
}

.caroseul-main__photo,.caroseul-cards__card-img{
    max-width: 100%;
    display: block;
    height: auto;
}

.caroseul-main__icon {
    
    color: $color-gray;
    cursor: pointer;
}

.caroseul-main__icon-right {
    position: absolute;
    right: 5rem;
    top: 35%;
    transform: translate(-50%, -50%);
    font-size: 3.3rem;

    @include respond (tablet) {
        top: 50%;
    }
}

.caroseul-main__icon-left {
    position: absolute;
    left: 5rem;
    top: 35%;
    transform: translate(-50%, -50%);
    font-size: 3.3rem;

    @include respond (tablet) {
        top: 50%;
    }
}

.caroseul-main__description {
    position: absolute;
    bottom: 4vw;
    left: 48%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 70%;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem 1rem;
    background-color: $color-white;
    opacity: .8;
}

.caroseul-main__description-link {
    width: 7.5rem;
    height: 2.6rem;
    padding: .5rem 1.2rem;
    font-size: 1.3rem;
    margin: 1rem 0;
    font-family: $primary-font;
    text-decoration: none;
    background-color: $color-orange-btn;
    text-transform: uppercase;
    color: $color-white;
}

.caroseul-main__description-paragraf {
    font-size: 2.4rem;
    font-family: $secondary-font;
    font-weight: 400;
    color: $color-black;
}

.caroseul-cards {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    align-items: center;
    @include respond(tablet) {
        flex-direction: row;
    }
}
.caroseul-cards__card {
    max-width: 30rem;
    max-height: 21.3rem;
    margin-bottom: 2rem;
}

.caroseul-cards__card-description {
    position: relative;
    bottom: 7.7rem;
    padding-left: 1.8rem;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: start;
   
}

.caroseul-cards__card-link {
    width: 5.5rem;
    height: 2.1rem;
    padding: .3rem 1rem;
    font-size: 1.1rem;
    font-family: $primary-font;
    text-decoration: none;
    background-color: $color-orange-btn;
    color: $color-white;
}

.caroseul-cards__card-paragraf {
    font-family: $secondary-font;
    font-size: 1.8rem;
    font-weight: 400;
    color: $color-white;
    text-align: left;
}