
.cl-c-header {
    max-width: 94rem;
    margin: 0 auto;
    border-bottom: 1px solid $color-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;

    @include respond(tablet) {
        flex-direction: row;
        justify-content: space-between; 
    }
    
}