
.cl-c-header {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid $color-gray;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    @include respond(tablet) {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 0;  
    }
    
}