.cl-c-instagram-conteiner {
    max-width: 94rem;
    margin: 0 auto;
    padding-bottom: 8rem;
}

.cl-c-instagram__posts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cl-c-instagram__posts-post {
    flex: 1 0 50%;
    padding: .5rem;
    
    @include respond(tablet) {
        flex: 1 0 25%;
    }
}

.cl-c-instagram-post__img {
    max-width: 100%;
    display: block;
    height: auto;
}