.instagram-conteiner {
    max-width: 94rem;
    margin: 0 auto;
    padding: 5rem 0;
}

.instagram__posts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.instagram__posts-post {
    flex: 1 0 50%;
    padding: .5rem;
    
    @include respond(tablet) {
        flex: 1 0 25%;
    }
}

.instagram-post__img {
    max-width: 100%;
    display: block;
    height: 100%;
}