
.cl-c-social-icon__list {
     display: flex;
     justify-content: center; 
    
}

.cl-c-social-icon__item {
    list-style: none;
    margin-right: 1rem;
    border: 1px solid $color-gray-dark;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    &:hover {
        border-color:  $color-orange;
    }

}

.cl-c-social-icon__link {
    width: 100%;
    height: 100%;
    text-decoration: none;
   
}

.cl-c-social-icon__item--active {
    border-color:  $color-orange;
}

.cl-c-social-icon__icon {
    color: $color-gray-dark;
    font-size: 1.8rem;
    width: 100%;
    height: 100%;
    color: $color-gray-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        color: $color-orange;
    }
}

.fab--active {
    color: $color-orange;
}